.vscode/
*.vcd
build/
test/
*.o
rtl/devices/
.VSCodeCounter
*.csv
user_programe_test_with_server/hello
user_programe_test_with_server/server
user_programe_test_with_server/hello.elf
user_programe_test_with_server/hello.s